{% extends 'base.html' %}

{% block content %}

{% include 'mailing_service/includes/home_header.html' %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Клиенты</h4>
                </div>
                <div class="card-body">
                    <i class="bi bi-person-circle text-primary me-2 fs-1"></i>
                    <h5 class="card-title pricing-card-title">Колличество : {{ recipients_all }}</h5>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Неограниченная лицензия</li>
                        <li>- Поддержка</li>
                        <li>- Установка на сервер</li>
                        <li>- Получение обновлений</li>
                    </ul>
                    <a role="button" class="btn btn-lg-sm btn-outline-primary" href="{% url 'mailing_service:recipients_list' %}">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Письма</h4>
                </div>
                <div class="card-body">
                    <i class="bi bi-envelope-fill text-primary me-2 fs-1"></i>
                    <h5 class="card-title pricing-card-title">Колличество: {{ messages_all }}</h5>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Неограниченная лицензия</li>
                        <li>- Поддержка</li>
                        <li>- Установка на сервер</li>
                        <li>- Получение обновлений</li>
                    </ul>
                    <a role="button" class="btn btn-lg-sm btn-outline-primary" href="{% url 'mailing_service:messages_list' %}">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">Рассылки</h4>
                </div>
                <div class="card-body">
                    <i class="bi bi-send-fill text-primary me-2 fs-1"></i>
                    <h5 class="card-title pricing-card-title">Колличество: {{ mailings_all }}</h5>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Неограниченная лицензия</li>
                        <li>- Поддержка</li>
                        <li>- Установка на сервер</li>
                        <li>- Получение обновлений</li>
                    </ul>
                    <a role="button" class="btn btn-lg-sm btn-outline-primary" href="{% url 'mailing_service:mailings_list' %}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}