{% extends 'base.html' %}

{% block content %}

{% include 'mailing_service/includes/home_header.html' %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Клиенты</h4>
                </div>
                <div class="card-body vh-50 overflow-auto">
                    <i class="bi bi-people-fill text-primary me-2 fs-1"></i>
                    <h5 class="card-title pricing-card-title">Количество : {{ recipients_all }}</h5>
                    {% if user.is_authenticated %}
                    <h6 class="text-start mt-3">Последние добавленные клиенты:</h6>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        {% for recipient in recipients_last %}
                        <li>{{ recipient.email }}</li>
                        {% endfor %}
                    </ul>
                    <a role="button" class="btn btn-lg-sm btn-outline-primary" href="{% url 'mailing_service:recipients_list' %}">Подробнее</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Письма</h4>
                </div>
                <div class="card-body vh-50 overflow-auto">
                    <i class="bi bi-envelope-fill text-primary me-2 fs-1"></i>
                    <h5 class="card-title pricing-card-title">Количество: {{ messages_all }}</h5>
                    {% if user.is_authenticated %}
                    <h6 class="text-start mt-3">Последние письма:</h6>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        {% for message in messages_last %}
                        <li>{{ message.title }}</li>
                        {% endfor %}
                    </ul>
                    <a role="button" class="btn btn-lg-sm btn-outline-primary" href="{% url 'mailing_service:messages_list' %}">Подробнее</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Рассылки</h4>
                </div>
                <div class="card-body vh-50 overflow-auto">
                    <i class="bi bi-send-fill text-primary me-2 fs-1"></i>
                    <h5 class="card-title pricing-card-title">Количество: {{ mailings_all }}</h5>
                    {% if user.is_authenticated %}
                    <h6 class="text-start mt-3">Количество по статусу:</h6>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Создано:</span>
                            <span class="badge bg-primary rounded-pill">{{ mailings_create }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Запущено:</span>
                            <span class="badge bg-primary rounded-pill">{{ mailings_running }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Завершено:</span>
                            <span class="badge bg-primary rounded-pill">{{ mailings_completed }}</span>
                        </li>
                    </ul>
                    <a role="button" class="btn btn-lg-sm btn-outline-primary" href="{% url 'mailing_service:mailings_list' %}">Подробнее</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="card col-mb-4 box-shadow mb-2">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Статистика пользователя: {{ user.email }}</h4>
                    </div>
                    <div class="row mt-md-4 mb-3">
                        <div class="col-md-4">
                            <div class="header mt-3">
                                <i class="bi bi-send-arrow-up text-success me-3 fs-1"></i>
                                <h5 class="my-0 font-weight-normal">Успешные попытки рассылок</h5>
                            </div>
                            <div class="card-body vh-50 overflow-auto">
                                <h5 class="card-title pricing-card-title">Количество: {{ sent_mailings_success }}</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header mt-3">
                                <i class="bi bi-send-arrow-down text-danger me-3 fs-1"></i>
                                <h5 class="my-0 font-weight-normal">Не успешные попытки рассылок</h5>
                            </div>
                            <div class="card-body vh-50 overflow-auto">
                                <h5 class="card-title pricing-card-title">Количество: {{ sent_mailings_error }}</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header mt-3">
                                <i class="bi bi-envelope text-primary me-3 fs-1"></i>
                                <h5 class="my-0 font-weight-normal">Количество отправленных сообщений</h5>
                            </div>
                            <div class="card-body vh-50 overflow-auto">
                                <h5 class="card-title pricing-card-title">Количество: {{ messages_success }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="jumbotron text-center bg-light p-5 rounded shadow-sm">
        <h5>Сервис управления рассылками</h5>
        <p class="lead">Для просмотра статистики, создания сообщений и запуска рассылок, пожалуйста, войдите в свой аккаунт.</p>
    </div>
    {% endif %}
</div>

{% endblock %}