{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-9 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    Придумайте новый пароль
                </h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-success">
                            Сменить пароль
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}