{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-9 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    Письмо отправлено
                </h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>Проверьте вашу почту.</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}